.login_form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
}

.login_form_inputs {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.login_form_input {
  padding: 1rem 2rem;
  outline: none;
  color: #000;
}
.login_form_buttons {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  all: unset;
  background-color: gray;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 12px;
}

.btn:hover {
  background-color: #000;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
